altair==4.0.1
attrs==20.2.0
entrypoints==0.3
importlib-metadata==2.0.0
Jinja2==2.11.2
jsonschema==3.2.0
MarkupSafe==1.1.1
numpy==1.18.5
pandas==0.24.2
pkg-resources==0.0.0
pyrsistent==0.17.3
python-dateutil==2.8.1
pytz==2020.1
scipy==1.4.1
six==1.15.0
toolz==0.11.1
zipp==1.2.0
